@import 'Variables';

.topHeader {
	background: rgba(15, 44, 50, 0.93);
	width: $headerWidth;
	z-index: 1;
    padding: 0.6rem;
	// padding: $headerVerticalPadding $headerHorizontalPadding;
	border-bottom: $headerBorderBottom solid #635858;
	box-sizing: border-box;
	float: left;
	@media (min-width: $topHeaderBreakpointWidth) and (min-height: $topHeaderBreakpointHeight) {
		position: fixed;
	}
}

.logo {
	width: $logoDimention;
	height: $logoDimention;
	fill: #fff;
	-webkit-transition: -webkit-transform 1.5s ease-in-out;
	transition: transform 1.5s ease-in-out;
	display: block;
	float: left;
	&:hover {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.listHeader {
    padding: 0.8rem 1.5rem;
    margin: $posterBorder;
    background: $appThemeRed;
    width: calc(100% - #{$posterBorder}*2);
    float: left;
    box-sizing: border-box;
}

.topHeaderSearch {
    float: right;
    background: none;
    color: #f2f2f2;
    border: 3px solid $appThemeRed;
    margin-top: 2px;
    border-radius: 100px;
    padding: 5px 10px;
    outline: none;
    font-size: 1.5rem;
    font-family: $raleway;
	width: calc(100% - #{$logoDimention}*2);
    @media (min-width: $topHeaderBreakpointWidth) and (min-height: $topHeaderBreakpointHeight) {
    	width: 40%;
	}
}

.topHeaderSearch::placeholder {
	color: $appThemeRed;
}

.topHeaderCategories {
    float: right;
    color: $appThemeRed;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    @media (min-width: $topHeaderBreakpointWidth) and (min-height: $topHeaderBreakpointHeight) {
    	width: auto;
    	margin-right: 2rem;
    }
    .categoriesContainer {
    	width: 100%;
    	float: left;
        &.show {
            display: block;
        }
    	@media (min-width: $topHeaderBreakpointWidth) and (min-height: $topHeaderBreakpointHeight) {
    		float: none;
    	    border: 1px solid $dropdownMenuColor;
    	    border-radius: 10px;
        	margin: 40px 0;
    	    position: absolute;
    	    left: -100%;
    	    top: 0;
    	    width: 30rem;
    	    z-index: 1;
            text-align: left;
    	    &:before {
    		    content: '';
    		    position: absolute;
    		    left: 30%;
    		    top: -20px;
    		    border-bottom: 10px solid $dropdownMenuColor;
    		    border-top: 10px solid transparent;
    		    border-left: 10px solid transparent;
    		    border-right: 10px solid transparent;
    	    }
    	}
    	display: none;
        background: $dropdownMenuColor;
        padding: 1rem;
        color: #afafaf;
        font-size: 1rem;
        box-sizing: border-box;
        margin-top: 1rem;
        ul {
        	@media (min-width: $topHeaderBreakpointWidth) and (min-height: $topHeaderBreakpointHeight) {
        		width: 50%;
        	}
        	list-style: none;
        	padding: 0;
        	width: 100%;
        	float: left;
    	    margin: 0;
        	line-height: 2;
        	li {
        		transition: 0.3s;
        		&:hover {
        			color: #ccc;
        		}
        	}
        }
    }
    &:hover {
        .categoriesContainer {
            display: block;
        }
    }
}


// .show {
// 	display: block;
// }

.movieCategories {
	font-size: 1.3rem;
	color: #ccc;
}

