@import 'Variables';

.poster {
	width: $posterWidth;
	height: 50vh;
	float: left;
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
		float:left;
	}
	.overview {
		position: absolute;
		font-family: $raleway;
		width: 90%;
		padding: 5%;
		font-size: 1.2rem;
		color: #fff;
		height: 100%;
		.content, h3 {
			height: 0;
			overflow: hidden;
			padding: 0;
			line-height: 1.5;
		}


		&:hover {
			background: rgba(0,0,0, 0.7);
			.content, h3 {
				height: auto;
			}
		}
	}
}