@import 'Variables';

.poster {
    width: calc(100% - #{$posterBorder}*2);
    height: 60%;
    float: left;
    position: relative;
    overflow: hidden;
    border: $posterBorder solid $appBackground;
    cursor: pointer;
	img {
		width: 100%;
		float:left;
	}
	.posterTitle {
		padding: 25px 15px;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		margin: 0;
		background: rgba(71, 120, 152, 0.93);
	    box-sizing: border-box;
	    text-transform: uppercase;
	}
	.overview {
		position: absolute;
		font-family: $raleway;
		width: 90%;
		padding: 5%;
		font-size: 1.2rem;
		color: #fff;
		height: 100%;
		.content, h3 {
			height: 0;
			overflow: hidden;
			padding: 0;
			line-height: 1.5;
		}


		&:hover {
			background: rgba(0,0,0, 0.7);
			.content, h3 {
				height: auto;
			}
		}
	}
	@media (min-width: 530px) {
    	width: calc(50% - #{$posterBorder}*2);
	}

	@media (min-width: 1020px) {
    	width: calc(33.33% - #{$posterBorder}*2);
	}

	@media (min-width: 1440px) {
    	width: calc(25% - #{$posterBorder}*2);
	}
}